.itemContainer img{
    max-height: 63%;
}


.itemContainer{
    display: flex;
    flex-direction: column;
    background-color: rgba(154, 247, 154, 0.151);
    border-radius: 10%;
    padding: 20px;
    margin-bottom: 20px;
    width: 15%;
    height: 325px
}

.itemContainer b, h3{
    margin: 3px;
    align-self: center;
    text-align: center;
}

.link{
    padding: 7px;
    margin: 10px;
    background-color: rgba(0, 128, 0, 0.233);
    border: 3px solid rgb(89, 180, 89);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    width: 100px;
    text-align: center;
    align-self: center;
}

.link:hover{
    background-color: rgba(0, 128, 0, 0.404);
    border: 3px solid rgb(54, 128, 54);
}